@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;600&family=M+PLUS+2:wght@400;600;800&display=swap');

:root {
    --col1: #f8f1d9;
    --col2: #fc85ae;
    --col3: #9e579d;
    --col4: #574b90;
    --col5: #303a52;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'M PLUS 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14pt;
    background-color: var(--col5);
    color: var(--col1);
}

label {
    display: flex;
}

.boardlist {
    display: block;
    vertical-align: middle;
    width: 100%;
    background-color: var(--col4);
    color: var(--col2);
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.banner {
    height: 13vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.boardname {
    margin-bottom: 5vh;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: var(--col5);
    border: 0.3vh solid var(--col2);
    border-radius: 1.5vh;
    margin-bottom: 10vh;
}

.content {
    padding: 5vh 0.75vh;
    margin-bottom: 1.25vh;
    background-color: var(--col5);
    border: 0.3vh solid var(--col2);
    border-radius: 1vh;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.2vw;
}

footer {
    
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--col4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}