<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UltimateChan</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="boardlist">
        <a href="../templates/board.html">ы</a>
    </div>
    <img class="banner" src="../static/feed.png" alt="banner">
    <h2 class="boardname">/?/ - Boardname</h2>
    <div class="postform">
        <form>
            <div class="form-item">
                <label for="code">
                    <i class="iconoir-code-brackets"></i>
                    Tripcode</label>
                <input type="text" id="code" name="code">
            </div>
            <div class="form-item">
                <label for="text">
                    <i class="iconoir-edit-pencil"></i>
                    Your text</label>
                <input type="text" id="text" name="text">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>выф, 2023</footer>
</body>
</html>